*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 120rem;
    
}
html{
    font-size: 62.5%;    
}
header{
    position: absolute;
    top: 3.5rem;
    left: 0;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 15rem;

}
header img{
    position: relative;
    width: 15rem;
}

header .navigation{
    display: flex;

    margin: 1rem 5rem;
    margin-left: 50rem;
}
header .navigation li{
    margin: 0rem 2rem;
    list-style: none;
    font-weight: 400;
    font-size: 5rem;
    font-family: 'Oxanium', cursive;
}
.search input{
    padding-left: .5rem;
    padding-right: .5rem;
    padding-top: .1rem;
    padding-bottom: 0rem;
    text-align: center;
    font-size: 2.5rem;
    width: 20rem;
    border-radius: 15px;
    border: solid;
    margin-left: 0.1rem;
    align-items: center;
    margin-right: -50rem;
}
.back-img{
    margin-top: 57rem;
    z-index: 0;
    position: relative;
    margin-left: 20rem;


}
.front-img{
    position: relative;
    z-index: 1;
    margin-top: -75rem;

}
section{
    margin-left: 8.5rem;
    display: inline-block;
}
.glob{
    display: flex;
    margin-left: 105rem;
    margin-top: -76rem;
}
.star{
    display: flex;
    margin-left: 185rem;
    margin-top: 6rem;
}
.head{
    display: flex;
    margin-left: 80rem;
    font-size: 7rem;
    width: 190rem;
    font-family: 'Oxanium', cursive;

}
.para{
    display: flex;
    margin-left: 94rem;
    margin-top: 4rem;
    width: 79rem;
    text-align: center;
    color: #7d838a;
    font-size: 1.5rem;
}
.email{
    display: flex;
    margin-left: 113rem;
    margin-top: 10rem;
    width: 25rem;
}
.email button{
    padding: 0rem 1.8rem;
    width: 25rem;
    border-radius: 0.5rem;
    background-color: white;
    font-size: 2.9rem;
    font-family: 'Oxanium', cursive;
}
.join{
    display: flex;
    margin-left: 140rem;
    margin-top: -3.8rem;
    font-family: 'Oxanium', cursive;
    width: 20rem;
}
.join button{
    border-radius: .5rem;
    background-color: black;
    font-size: 2.9rem;
    color: white;
    width: 15rem;
}
.star2{
    display: flex;
    margin-left: 83rem;
    margin-top: 9rem;
}
.star2 img{
    width: 5rem;
}
.contact{
    display: flex;
    margin-left: 120rem;
    margin-top: 3rem;
    margin-right: -30rem;
}
.bottom{
    display: flex;
    margin-left: 110rem;
    margin-right: -20rem;
    

}
.bottom li{
    display: flex;
    list-style: none;
    float: left;
    justify-content: center;
    justify-content: space-between;
    margin-top: 1.5rem;
    margin-left: 2.5rem;
}
